<a href="https://colab.research.google.com/github/bluewallumich/Churn-Prediction-A-nOOB-Guide/blob/main/churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A nOOBs Guide To Churn

---

Churn, churn rate, customer churn, or rate of attrition is the rate at which consumers or employees an organization during any given period.

There are two ways to calculate churn:
$$...$$


$
Customer Churn Rate =
\frac{(Customers Beginning of Month - Customers End Of Month)}{Customers Beginning Of Month}
$

$$...$$
$$OR$$
$$...$$

$
Customer Churn Rate = (\frac{Lost Customers}{Total Customers At Beginning Of Month})*100
$

Lets See Churn Rate With Some Data
Churn data can be found at Kaggle here: [Kaggle Churn Comp 2020](https://www.kaggle.com/competitions/customer-churn-prediction-2020/data)

In [1]:
import pandas as pd

# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
#!ls "/content/drive/My Drive"

In [8]:
test_data = "/content/drive/My Drive/Colab Notebooks/test.csv"
train_data ="/content/drive/My Drive/Colab Notebooks/train.csv"

In [7]:
##Lets turn our data into a dataframe.
churn_df_test = pd.read_csv(test_data)
churn_df_test.head()

,id,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
0,1,KS,128,area_code_415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,2,AL,118,area_code_510,yes,no,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0
2,3,IA,62,area_code_415,no,no,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4
3,4,VT,93,area_code_510,no,no,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3
4,5,NE,174,area_code_415,no,no,0,124.3,76,21.13,277.1,112,23.55,250.7,115,11.28,15.5,5,4.19,3

In [9]:
churn_df_train = pd.read_csv(train_data)
churn_df_train.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
4,MA,121,area_code_510,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no

In [ ]:
churn_df_train = pd.read_csv()

In [11]:
#How big is our DF and are there any NAN
churn_df_test.shape,churn_df_train.shape

((750, 20), (4250, 20))

In [10]:
churn_df_test.isnull().values.any(),churn_df_train.isnull().values.any()

(False, False)

We can see from the above results that there are no NaN or Null values.  This will make it easier to review data.

One thing we can use is the Churn column out of the training dataset.

In [21]:
##We know from the shape that the total number of customers is 4250

Total_Customers_Beginning_Month = len(churn_df_train.index)

##Next we count the number of Yes in the churn column

Lost_Customers = churn_df_train['churn'].value_counts()['yes']

##Now we are ready for our churn rate

Customer_Churn_Rate = (Lost_Customers/Total_Customers_Beginning_Month)

print("Customer Churn Rate: " + "{:.0%}".format(Customer_Churn_Rate))

Customer Churn Rate: 14%

In [22]:
##To check our math we will try it the other way.

Remaining_Customers = churn_df_train['churn'].value_counts()['no']
Customer_Churn_Rate = ((Total_Customers_Beginning_Month-Remaining_Customers)/Total_Customers_Beginning_Month)

print("Customer Churn Rate: " + "{:.0%}".format(Customer_Churn_Rate))

Customer Churn Rate: 14%

# Future Improvements
An addition to this article will include churn predictions