<a href="https://colab.research.google.com/github/bluewallumich/Churn-Prediction-A-nOOB-Guide/blob/main/churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A nOOBs Guide To Churn

---

Churn, churn rate, customer churn, or rate of attrition is the rate at which consumers or employees an organization during any given period.

There are two ways to calculate churn:
$$...$$


$
Customer Churn Rate =
\frac{(Customers Beginning of Month - Customers End Of Month)}{Customers Beginning Of Month}
$

$$...$$
$$OR$$
$$...$$

$
Customer Churn Rate = (\frac{Lost Customers}{Total Customers At Beginning Of Month})*100
$

Lets See Churn Rate With Some Data
Churn data can be found at Kaggle here: [Kaggle Churn Comp 2020](https://www.kaggle.com/competitions/customer-churn-prediction-2020/data)

In [5]:
import pandas as pd

# from google.colab import drive
# drive.mount('/content/drive')

'Accessible Google Doc Template: University of Michigan.gdoc'
'Colab Notebooks'
'Copy of Executive Summary Template.gslides'
'Copy of [Guidebook] Resume Guide 2020-2021.gdoc'
'Copy of Manifesto Template.gdoc'
'Copy of Milestone II Project .gdoc'
'Draft Proposal Guidelines.gdoc'
'Getting started.pdf'
'Untitled presentation.gslides'

In [6]:
!ls "/content/drive/My Drive"

'Accessible Google Doc Template: University of Michigan.gdoc'
'Colab Notebooks'
'Copy of Executive Summary Template.gslides'
'Copy of [Guidebook] Resume Guide 2020-2021.gdoc'
'Copy of Manifesto Template.gdoc'
'Copy of Milestone II Project .gdoc'
'Draft Proposal Guidelines.gdoc'
'Getting started.pdf'
'Untitled presentation.gslides'

In [7]:
test_data = "/content/drive/My Drive/Colab Notebooks/test.csv"

In [10]:
##Lets turn our data into a dataframe.
churn_df = pd.read_csv(test_data)
churn_df.head()

,id,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
0,1,KS,128,area_code_415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,2,AL,118,area_code_510,yes,no,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0
2,3,IA,62,area_code_415,no,no,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4
3,4,VT,93,area_code_510,no,no,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3
4,5,NE,174,area_code_415,no,no,0,124.3,76,21.13,277.1,112,23.55,250.7,115,11.28,15.5,5,4.19,3

In [14]:
#How big is our DF and are there any NAN
churn_df.shape

(750, 20)

In [15]:
churn_df.isnull().values.any()

False